body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background-image: url(../img/jumbo.png);
    background-size: contain;

}



h1 {
    font-weight: 700;
}

h3 {
    font-size: 25px;
}



/* classi navigatore header */
nav {
    background-color: #3161E0;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    width: 100px;
    height: 40px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 20px;

}

.nav-menu {
    width: 500px;
    height: 40px;
    background-color: #3161E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 700;
}




.header-text {
    text-align: center;

    width: 700px;
    min-height: 500px;
    margin: 0 auto;
    font-size: 30px;
    color: white;
}

.download-button {

    display: flex;
    justify-content: space-around;
}

.download-button-white {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.download-button-black {
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: 20px;
}


/* stile sezioni */

.bg-white {
    width: 100%;
    background-color: rgb(255, 255, 255);
    min-height: 800px;
}

.bg-grey {
    width: 100%;
    background-color: rgb(201, 201, 201);
    height: 800px;
}


.container {
    width: 70%;
    height: 70%;
    background-color: lightcoral;
    margin: 0 auto;
}

.row-white {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.row-grey {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.column-large {
    background-color: burlywood;
}

.column-small {
    background-color: yellowgreen;
}

/* stili specifici per la sezione ultima grande del main */
.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-mac {
    background-color: #8EA1E1;
    border-radius: 20px;
    color: white;
}


footer {
    background-color: #23272A;
    height: 700px;
    width: 100%;
}

.footer-container {
    width: 80%;
    height: 90%;
    background-color: #525d83;
    margin: 0 auto;
    display: flex;
}

.address-column {
    width: 30%;
    background-color: #8EA1E1;
    
}

.info-row {
    width: 70%;
    
    background-color: lightsalmon;
    display: flex;
}

.info-row-small{background-color: red;
width: 25%;

border: 2px solid black;}
